@font-face {
    font-family: "Ubuntu";
    src: url("Fonts/Ubuntu/Ubuntu-Regular.ttf"),
}

body{
    font-family: "Ubuntu";
    color: #FFF;
    background-color: hsl(0, 0%, 18%);
    margin: 0;
}

h1{
    margin: 0;
}

.header{
    background-color: hsl(0, 0%, 24%);
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 2vh hsl(0, 0%, 12%);
}

#listView{
    height: 60vh;
}

.Buttons{
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#addBtn, #deleteBtn{
    width: 160px;
    height: 30%;
    margin: 10px;
    border-radius: 15px;
    border: none;
    background-color: hsl(0, 0%, 12%);
    color: #FFF;
    font-size: 22px;
    transition: ease 0.2s;
}

#addBtn:hover, #deleteBtn:hover{
    cursor: pointer;
    transform: scale(0.98);
    background-color: hsl(0, 0%, 14%);
}

#addBtn:active, #deleteBtn:active{
    transform: scale(0.95);
}

.todoItem {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 8px;
    font-size: 28px;
}

.checkbox {
    width: 12px;
    height: 12px;
    transform: scale(1.8);
    accent-color: #1179ef;
    cursor: pointer;
}


.inputView{
    display: flex;
    justify-content: center;
    height: 10vh;
}

#todoInput{
    font-size: 20px;
    text-align: center;
    width: 80%;
    border-radius: 25px;
    border: none;
    background-color: #ffffff;
}
